/* Full Setting */
html, body, h1, h2, h3, h4, h5, p {
	font-family: '微軟正黑體' ,Arial;
}

/* Log in Page */
.login-layout {
  background-color: #8bc34a;
}

.login-container i {
	color: #fff;
}

.fa-group:before, .signup-box .fa-users:before {
    color: #555;
}

.forgot-box .fa-key:before {
	color: #555;
}

.login-container img {
	border: #fff 3px solid;
}

.login-layout .widget-box {
	background: none;
}

.login-box .fa-coffee {
	color: #555;
}

.login-box .toolbar {
  background: #555;
  border-top: 2px solid #555;
}

.login-box .forgot-password-link {
  color: #fff;
}

.login-box .user-signup-link {
  color: #fff;
}

.forgot-box .back-to-login-link, .signup-box .back-to-login-link {
	color: #fff;
}

.widget-body {
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

/* 全頁設定 */
.navbar {
	background: #8bc34a;
}

.fa-leaf:before {
  content: "\f1bb";
}

.ace-nav > li.light-blue > a, .ace-nav > li.light-blue > a:hover, .ace-nav > li.light-blue > a:hover, .ace-nav > li.light-blue > a:focus, .ace-nav > li.open.light-blue > a {
	background-color: #8bc34a;
}

.ace-file-input {
	display: initial;
}